{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id='profile-view' class="border rounded border-5 shadow-lg p-3 mb-5 bg-body">
    {% if user.is_authenticated %}
    <div id='follow' data-activeuserid={{ active_user.id }}>
        <h2>div for follow/ unfollow button!</h2>
    </div>
    {% endif %}
    <ul>
        <li>Following:</li>
        <li>Follower:</li>
    </ul>
</div>

<div id='allposts-view' data-activeuserid={{ active_user.id }}>
    
    {% if user.is_authenticated %}
        <div id='newpost' class="border rounded border-5 shadow-lg p-3 mb-5 bg-body">
            <h3>New Post</h3>
            <div class="mb-3">
                <form id="compose-post">
                    {% csrf_token %}
                    <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                    <input type="submit" class="btn btn-primary" value='Post'/>
                </form>                
            </div>
        </div>
    {% endif %}
    
</div>

<div id='previousposts' class="border rounded border-5 shadow-lg p-3 mb-5 bg-body"></div>

<div id='network-view'>
    <div class="border rounded border-5 shadow-lg p-3 mb-5 bg-body">
        <ul>
            {% for user in users %}    
                {% if user != active_user %}
                    <li>
                        <a href='#' data-userid={{ user.id }} class='users'>{{ user.username }}</a>
                    </li>
                {% endif %}
            {% empty %}
                No active users
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}